<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ if .Title -}} {{ .Title }} · {{ .Site.Title }} {{ else -}} {{
      .Site.Title }} {{ end -}}
    </title>
    {{ range .Translations -}}
    <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}">
    {{ end -}}

    <link rel="icon" href="/favicon.ico" sizes="16x16">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    {{ $style := (slice (resources.Get "css/chroma-github-dark.css")
    (resources.Get "css/chroma-github.css") (resources.Get "css/styles.css")) |
    resources.Concat "css/styles.css" | minify | fingerprint -}}
    <link
      rel="stylesheet"
      href="{{ $style.RelPermalink }}"
      integrity="{{ $style.Data.Integrity }}"
    >
    {{ $script := resources.Get "js/toc.js" | minify | fingerprint -}}
    <script
      src="{{ $script.RelPermalink }}"
      integrity="{{ $script.Data.Integrity }}"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <svg style="display: none">
      <symbol id="AnchorIcon" viewBox="0 0 24 24">
        <path
          d="M14.8284 12L16.2426 13.4142L19.071 10.5858C20.6331 9.02365 20.6331 6.49099 19.071 4.9289C17.509 3.3668 14.9763 3.3668 13.4142 4.9289L10.5858 7.75732L12 9.17154L14.8284 6.34311C15.6095 5.56206 16.8758 5.56206 17.6568 6.34311C18.4379 7.12416 18.4379 8.39049 17.6568 9.17154L14.8284 12Z"
          fill="currentColor"
        />
        <path
          d="M12 14.8285L13.4142 16.2427L10.5858 19.0711C9.02372 20.6332 6.49106 20.6332 4.92896 19.0711C3.36686 17.509 3.36686 14.9764 4.92896 13.4143L7.75739 10.5858L9.1716 12L6.34317 14.8285C5.56212 15.6095 5.56212 16.8758 6.34317 17.6569C7.12422 18.4379 8.39055 18.4379 9.1716 17.6569L12 14.8285Z"
          fill="currentColor"
        />
        <path
          d="M14.8285 10.5857C15.219 10.1952 15.219 9.56199 14.8285 9.17147C14.4379 8.78094 13.8048 8.78094 13.4142 9.17147L9.1716 13.4141C8.78107 13.8046 8.78107 14.4378 9.1716 14.8283C9.56212 15.2188 10.1953 15.2188 10.5858 14.8283L14.8285 10.5857Z"
          fill="currentColor"
        />
      </symbol>
      <symbol id="ExternalLinkIcon" viewBox="0 0 24 24">
        <path
          d="M15.6396 7.02527H12.0181V5.02527H19.0181V12.0253H17.0181V8.47528L12.1042 13.3892L10.6899 11.975L15.6396 7.02527Z"
          fill="currentColor"
        />
        <path
          d="M10.9819 6.97473H4.98193V18.9747H16.9819V12.9747H14.9819V16.9747H6.98193V8.97473H10.9819V6.97473Z"
          fill="currentColor"
        />
      </symbol>
    </svg>
    <header>
      <nav class="nav">
        <a class="nav-home" href="/">{{ .Site.Title }}</a>
        <ul class="nav-items">
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/posts">Posts</a></li>
          {{ range .Translations -}}
          <li class="nav-item">
            <a href="{{ .RelPermalink }}" lang="{{ .Lang }}">
              {{ .Language.LanguageName }}
            </a>
          </li>
          {{ end -}}
        </ul>
      </nav>
    </header>
    {{ block "body" . }}{{ end }}
  </body>
</html>
