{{ define "body" -}}
<div class="content">
  <aside class="toc">
    <details open>
      <summary><span class="h5">In this article</span></summary>
      {{ .TableOfContents }}
    </details>
  </aside>
  <div class="body">
    <nav id="Breadcrumbs" class="breadcrumbs" aria-label="Breadcrumbs">
      <ul>
        {{- range .Ancestors.Reverse }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      </ul>
    </nav>
    <div class="header">
      <h1>{{ .Title }}</h1>
    </div>
    <main>
      {{ .Content }}
    </main>
  </div>
</div>
{{ end -}}
